<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <label>From:</label>
        <input type="email" name="sender"><br>
        <label>Password:</label>
        <input type="password" name="sender_password"><br>
        <label>To:</label>
        <input type="email" name="recipient"><br>
        <label>Content:</label>
        <input type="text" name="content"><br>
        <label>Subject:</label>
        <input type="text" name="subject"><br>
        <button type="submit">Submit</button>
      </form>
</body>
</html>